{% extends "search.html" %}
{% block title %}
    Money Deposit
{% endblock title %}
{% block form %}
<form method="POST" class='search'>
        <table>
            <tr>
                <th colspan="2"><input type="text" name="cus_id" placeholder="Enter Customer ID" ></th>
            </tr>
            <tr>
                <th colspan="2"><input type="text" name="deposit" placeholder="Enter Deposit Amount"></th>
            </tr>
            <tr>
                <th><input type="submit" value="Submit"></th>
            </tr>
        </table>
</form>
{% endblock form %}